.nav-bar-logo{
 width: 80px;
 height: auto;
 object-fit: contain;
 border-radius: 40px;
}

.navbar{
  background: pink; 
  padding: 0.5rem 1rem; 
  display: grid;
  grid-template-columns: auto 1fr;
}

.nav-links{
    align-self: center;
    list-style: none;
    display: grid;
    grid-template-columns:repeat( 3 ,1fr) ;
    text-align: center;
    text-transform: capitalize;
 
}
.nav-link{
    text-decoration: none;
    color: green;
    font-size: 1.2rem;
    transition: color 0.3s ease-in-out;
}
.nav-link:hover{
    color: brown;
}
.nav-link.active{
    font-weight: bold;
    color: black;
}